@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body, #__next {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #F9FAFB;
  color: #1F2937;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

.marker {
  display: block;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
}
